/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

:root {
    --green: rgba(0, 255, 142, 0.74);
    --red: rgba(255, 75, 33, 0.9);
    --blue: rgba(2, 175, 245, 0.8);
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}


.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.dashboard-card {
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
}

.items-sold {
    border: 1px solid var(--green);
    color: var(--green);
    background-color: #ffffff;
}

.items-to-be-sold {
    border: 1px solid var(--red);
    color: var(--red);
    background-color: #ffffff;
}

.items-initial {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: #ffffff;
}
